# Node modules
node_modules/

# Logs
*.log

# Cachés y compilaciones
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Archivos de despliegue o temporales
*.zip
*.tar.gz
*.bak
*.tmp
